<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://unpkg.com/vue@3"></script>
        <title>{{ title }}</title>
    </head>
    <body>

        <header>
            <nav class="navbar navbar-dark navbar-full bg-inverse">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='header.png') }}" height="30" class="d-inline-block align-top" alt="theticketpost logo">
                    </a>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <div class="row" >
                <!-- Sidebar -->
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar d-inline">
                        <li class="{{ 'active' if active_page == 'dashboard' else '' }}"><a href="dashboard">Dashboard</a></li>
                        <li class="{{ 'active' if active_page == 'apps' else '' }}"><a href="apps">My Apps</a></li>
                        <li class="{{ 'active' if active_page == 'store' else '' }}"><a href="store">Appstore</a></li>
                        <li class="{{ 'active' if active_page == 'settings' else '' }}"><a href="settings">Settings</a></li>
                        <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="about">About</a></li>
                    </ul>
                    <div class="sidebar-footer">
                        <li>version {{ version }}</li>
                    </div>
                </div>
                
                <div class="col-sm-9 col-md-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
