{% extends 'headers.html' %}

{% block page %}
<link rel="stylesheet" href="{{ url_for('static', filename='newspaper.css') }}">

<div id="newspaper-app">
    {% include 'ticket.html' %}
</div>

<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//www.unpkg.com/vuedraggable@4.1.0/dist/vuedraggable.umd.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/newspaper.js') }}"></script>
{% endblock %}
