{% extends 'base.html' %}

{% set active_page = 'settings' %}

{% block content %}
<div class="p-5 text-center">
    <h1>Settings</h1>
</div>
<div class="container px-4">
    <form action="{{ url_for('settings') }}" method="post" target="dummyframe">
        <div class="form-group row">
            <div class="col-9">
                <label for="">Test</label>
                <input type="text" class="form-control" name="test" value="{{ config.test }}">
            </div>
            <div class="col-auto mt-auto">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
