{% extends 'base.html' %}

{% set active_page = 'settings' %}

{% block content %}
<div id="settings-app">
    <div class="p-5 text-center">
        <h1>Settings</h1>
    </div>
    <div class="container px-4">
        <form action="{{ url_for('settings') }}" method="post">
            <h4 class="mb-3">Printer settings</h4>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label for="device_list">Device</label>
                        <select class="form-select" id="exampleFormControlSelect1">
                            <option v-for="device in devices" :value="device.address">
                              { device.name } - { device.address }
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 d-flex">
                    <button class="btn btn-primary w-100 align-self-end" type="button" @click="scan_for_devices()" :disabled='scan_disabled'>
                        <span v-if="scan_disabled" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        { scan_disabled ? 'Scanning... ': 'Scan' }
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label for="printer_dpi" class="form-label">dpi</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="printer_dpi" placeholder=""
                            value="{{ config.printer_dpi }}" name="printer_dpi" required="">
                        <span class="input-group-text">dpi</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="printer_paper_width" class="form-label">Paper width</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="printer_paper_width" placeholder=""
                            value="{{ config.printer_paper_width }}" name="printer_paper_width" required="">
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">Scheduler</h4>
            <div class="row mb-3">
                <div class="col-sm-6">

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-monday" v-model="config.schedule.monday" name="schedule-monday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.monday )) else '' }} >
                                <label class="form-check-label" for="schedule-monday">Monday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="monday-time" :disabled='monday_checked'>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-tuesday" v-model="config.schedule.tuesday" name="schedule-tuesday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.tuesday )) else '' }} >
                                <label class="form-check-label" for="schedule-tuesday">Tuesday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="tuesday-time" :disabled='tuesday_checked'>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-wednesday" v-model="config.schedule.wednesday" name="schedule-wednesday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.wednesday )) else '' }} >
                                <label class="form-check-label" for="schedule-wednesday">Wednesday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="wednesday-time" :disabled='wednesday_checked'>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-thursday" v-model="config.schedule.thursday" name="schedule-thursday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.thursday )) else '' }} >
                                <label class="form-check-label" for="schedule-thursday">Thursday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="thursday-time" :disabled='thursday_checked'>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-friday" v-model="config.schedule.friday" name="schedule-friday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.friday )) else '' }} >
                                <label class="form-check-label" for="schedule-friday">Friday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="friday-time" :disabled='friday_checked'>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-saturday" v-model="config.schedule.saturday" name="schedule-saturday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.saturday )) else '' }} >
                                <label class="form-check-label" for="schedule-saturday">Saturday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="saturday-time" :disabled='saturday_checked'>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="schedule-sunday" v-model="config.schedule.sunday" name="schedule-sunday" {{ 'checked' if (( 'schedule' in config ) and ( config.schedule.sunday )) else '' }} >
                                <label class="form-check-label" for="schedule-sunday">Sunday</label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="time" name="sunday-time" :disabled='sunday_checked'>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <hr class="my-4">
            <button type="submit" class="w-100 btn btn-primary btn-lg">Save settings</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
