<div v-if="loaded" id="newspaper" :style="{width: ticket_px_width + 'px'}">

    <vuedraggable v-model="apps" item-key="id" class="list-group" @end="save_json()">
        <template #item="{ element, index }">
            <div class="card list-group-item">
                <div class="component card-body row justify-content-between">
                    { element.title }
                    <button type="submit" class="btn-close float-end" @click="del(index)"></button>
                </div>
            </div>
        </template>
    </vuedraggable>

</div>
