<div v-if="loaded && device" id="newspaper" :style="{width: ticket_px_width + 'px'}">

    <vuedraggable v-model="apps" item-key="id" class="list-group" @end="save_json()">
        <template #item="{ element, index }">
            <div class="card list-group-item">
                <div class="component card-body row justify-content-between">
                    <span class="render-component">
                        <span v-html="element.rawhtml" v-bind:data-component-id="element.id" data-bs-toggle="modal" data-bs-target="#theModal"></span>
                        <button type="submit" class="btn-close" @click="del(index)"></button>
                    </span>
                </div>
            </div>
        </template>
    </vuedraggable>

</div>


<div class="modal fade" id="theModal" tabindex="-1" aria-labelledby="theModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="component-configuration-title" class="modal-title text-capitalize">Title</h5>
            </div>
            <div class="modal-body">
                <form id="component-configuration-form">
                    <div v-for="input in template">
                        <div v-if="input.type == 'checkbox'" class="my-4 form-check">
                            <input type="checkbox" class="form-check-input input-checkbox" :id="input.name" v-model="input.value">
                            <label class="form-check-label" :for="input.name">{input.label}</label>
                        </div>
                        <div v-else-if="input.type == 'number'" class="my-4">
                            <label :for="input.name" class="form-label">{input.label}</label>
                            <input type="number" class="form-control input-number" :id="input.name" v-model="input.value" >
                        </div>
                        <div v-else-if="input.type == 'text'" class="my-4">
                            <label :for="input.name" class="form-label">{input.label}</label>
                            <input type="text" class="form-control input-text" :id="input.name" v-model="input.value" >
                        </div>
                        <div v-else-if="input.type == 'image'" class="my-4">
                            <label :for="input.name" class="form-label">{input.label}</label>
                            <input type="file" class="form-control input-file" :id="input.name" accept="image/*" @change="preview_img">
                            <img class="image_preview" :src="input.url" />
                        </div>
                        <div v-else-if="input.type == 'select'" class="my-4">
                            <label :for="input.name" class="form-label">{input.label}</label>
                            <select class="form-select" class="form-control" v-model="input.value">
                                <option v-for="option in input.options" :value="option.value" :selected="input.value == option.value">
                                  { option.description }
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal-button">Close</button>
                <button type="button" class="btn btn-primary" @click="save_component_options">Save changes</button>
            </div>
        </div>
    </div>
</div>
