<div v-if="loaded && device" id="newspaper" :style="{width: ticket_px_width + 'px'}">

    <vuedraggable v-model="apps" item-key="id" class="list-group" @end="save_json()">
        <template #item="{ element, index }">
            <div class="card list-group-item">
                <div class="component card-body row justify-content-between">
                    <span class="render-component">
                        <span v-html="element.rawhtml"></span>
                        <button type="submit" class="btn-close" @click="del(index)"></button>
                    </span>
                </div>
            </div>
        </template>
    </vuedraggable>

</div>
