main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

svg {
  fill: currentColor;
}

.sidebar {
    -moz-box-shadow:    1px 0 15px 0 #555;
    -webkit-box-shadow: 1px 0 15px 0 #555;
    box-shadow:         1px 0 15px 0 #555;
}

.content {
    overflow-y: auto;
}

#newspaper {
    min-height: 500px;
    border: 1px solid darkgray;
    background-color: rgb(248,249,250);
}
