main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

svg {
  fill: currentColor;
}

.sidebar {
    -moz-box-shadow:    1px 0 15px 0 #555;
    -webkit-box-shadow: 1px 0 15px 0 #555;
    box-shadow:         1px 0 15px 0 #555;
}

.content {
    overflow-y: auto;
}

#newspaper {
    min-height: 500px;
    border: 1px solid darkgray;
    background-color: rgb(248,249,250);
}

.list-group-item:hover {
    cursor: pointer;
}

.list-group-item {
    padding-bottom: 1em !important;
}

.list-group-item button {
    visibility: hidden;
}

.list-group-item:hover button {
    visibility: visible;
}

.list-group > * {
    padding: 0;
}

.list-group-item > * {
    padding: 0;
}

.render-component {
    /* position: relative; */
}
.btn-close {
    position: absolute;
}

.image_preview {
    width: 100%;
    margin-top: 1em;
}
