main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

svg {
  fill: currentColor;
}

.sidebar {
    -moz-box-shadow:    1px 0 15px 0 #555;
    -webkit-box-shadow: 1px 0 15px 0 #555;
    box-shadow:         1px 0 15px 0 #555;
}
